{% extends "base.html" %}

{% block content  %}
<p> For Information & Reservations Call: 435-587-2351 </p>
<p>
All dinners start with a garden salad and your choice of dressing (Ranch, Bleu Cheese, Thousand Island,Italian,Trench, vinegar & oil),
followed by <a href="/gallery" >cowboy beans</a> and garlic toast. Your entree is then served with your choice of Roughlock Potatoes, or a baked potato.</p>
<div class="container">
<ul class="row">
    <li><a href="/gallery"> Grilled Chicken Breast </li>
    <li><a href="/gallery"> Cedar Plank Salmon </li>
    <p> Salt & Lemon Pepper </p>
    <li><a href="/gallery"> Pork Chop </li>
    <p> 8 oz </p>
    <li><a href="/gallery"> Lobster Tail </li>
    <li><a href="/gallery"> Steak & Lobster Tail </li>
    <p> Your choice of the Filet Minon or Small Ribeye. </p>
    <li><a href="/gallery"> Filet Minon </li>
    <p> 8 oz </p>
    <li><a href="/gallery"> Small Ribeye </li>
    <p> 8-10 oz </p>
    <li><a href="/gallery"> Ribeye </li>
    <p> 18-20 oz </p>
</ul>


<ul class="row">
    <li><a href="/gallery"> Moderate Selection of Beer & Wine, </li>
    <li><a href="/gallery"> Straberry Lemonade, Iced Tea, and soft drinks. </li>
</ul>

{% endblock %}
