{% extends "posts/base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="col-sm-6">
    <h5>Preview</h5>

    <div class="content-preview">
        <h1 id="preview-title"></h1>
        <hr>
        <p id="preview-content"></p>
    </div>
</div>
<div class="col-sm-6">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="{{ label }}">
        <a href="{% url 'posts:list' %}" class="btn btn-danger">cancel</a>
    </form>
</div>
{% endblock %}